@import url("/assets/fonts/poppins.css");

@font-face {
  font-family: 'AR1VU';
  src: url('/assets/AR1VU.ttf') format('truetype');
}

body {
  font-family: "Poppins";
  color: white;
  background-color: #222729;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease-in-out;
}

#battery-icon {
  margin-left: 5%;
  width: 5%;
  border-radius: 0;
}

#connection-icon {
  margin-left: 5%;
  width: 7%;
  border-radius: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 5%;
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
  font-weight: 600;
}

h3 {
  font-weight: normal;
  font-size: 15px;
  font-size: 20px;
  margin-left: 30px;
  text-align: left;
  font-weight: 350;
}

h2 {
  font-size: 40px;
  text-align: left;
  font-weight: 600;
}

/*     Weather     */
.weather-widget {
  padding-top: 22.5px;
  text-align: left;
}

.weather-icon img {
  float: left;
  margin-top: 2.5%;
  margin-left: 5%;
}

/*     Grid Adjustment     */

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.split-textarea {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 6.2%;
}

.right {
  right: 6.2%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 60%;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

/*     Left Side Box     */

.box1 {
  background-color: #000000;
  width: 400px;
  height: 150px;
  border-radius: 17.5px;
  margin-bottom: 5%;
}

.box1 h1 {
  padding-top: 30px;
}

/*     Right Side Box     */

.box2 {
  margin-bottom: 10%;
}

/*     Search     */

input {
  width: 70%;
  margin-top: 4%;
  min-height: 52px;
  min-width: 25rem;
  background: #333a3e url(/assets/images/search-glass.svg) 16px center no-repeat;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0 2px 6px rgba(28, 27, 34, 0.5);
  text-indent: 13%;
  color: #969a9c;
  font-size: 15px;
  font-weight: bold;
}

textarea {
  width: 100%;
  margin-top: 4%;
  min-height: 52px;
  min-width: 25rem;
  background: #333a3e;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0 2px 6px rgba(28, 27, 34, 0.5);
  color: #969a9c;
  font-size: 15px;
}

input:focus, textarea:focus {
  border-style: none;
  border: none;
  outline: none;
  color: #ffffff;
}

/*     Bookmarks     */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-left: 7.5%;
  align-items: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  margin-left: 16.5%;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding-top: 5px;
}

.grid-item {
  width: 90px;
  height: 90px;
  font-size: 30px;
  text-align: center;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.grid-item2 {
  width: 40px;
  height: 40px;
  font-size: 4px;
  text-align: center;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  overflow: hidden;
}

.grid-item:hover,
.grid-item2:hover {
  background-color: #384044;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.grid-item2 img {
  width: 40px;
  border-radius: 15px;
}

.grid-item img {
  width: 90px;
  border-radius: 15px;
}

.pg1 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.pg2 {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/*     Scroll Bar     */

::-webkit-scrollbar {
  width: 10px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  opacity: 0;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0;
}
